.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #1f1f1f, #3c3c3c);
  min-height: 100vh;
  color: rgb(6, 6, 6);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 20px;
}

h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 20px;
}
